jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - run: exit 0

      - slack/status:
          mentions: "UCE5UFWD6"
          fail_only: true 
          webhook: $SLACK_WEBHOOK

orbs:
  slack: circleci/slack@3.4.2
version: 2.1

workflows:
  workflow:
    jobs:
      - build