jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - slack/notify:
          channel: GCQ46ANJC
          color: '#42e2f4'
          mentions: 'UCE5UFWD6'
          message: This is a custom message notification
          webhook: webhook

orbs:
  slack: circleci/slack@3.4.2
version: 2.1

workflows:
  workflow:
    jobs:
      - build



jobs:
  build:
    docker:
        - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: yarn install
      - run:
          name: Build phase
          command: sudo yarn build
      - run:
          name: Install Firebase CLI
          command: sudo npm install -g firebase-tools
          filters:
            branches:
                only: master
      - run:
          name: Deploy to Firebase
          command: sudo firebase deploy  --token "$FIREBASE_TOKEN"
          filters:
            branches:
                only: master