jobs:
  build:
    docker:
        - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: yarn install
      - slack/status:
                mentions: "UCE5UFWD6"
                webhook: $SLACK_WEBHOOK
                message: Development build
      - run:
          name: Build phase
          command: sudo yarn build
      - run:
          name: Install Firebase CLI
          command: sudo npm install -g firebase-tools
      - run:
          name: Deploy to Firebase
          command: sudo firebase deploy  --token "$FIREBASE_TOKEN"
      - slack/status:
                mentions: "UCE5UFWD6"
                webhook: $SLACK_WEBHOOK
                message: Production build
                filters:
                  branches:
                    only: master
      - slack/status:
                mentions: "UCE5UFWD6"
                webhook: $SLACK_WEBHOOK
                when: on_fail
                message: Build failed
                filters:
                  branches:
                    only: master
orbs:
  slack: circleci/slack@3.4.2
version: 2.1

workflows:
  workflow:
    jobs:
      - build
