version: 2
jobs:
  build:
    docker:
        - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: yarn install
      - run:
          name: Build phase
          command: sudo yarn build
      - run:
          name: Install Firebase CLI
          command: sudo npm install -g firebase-tools
      - run: firebase use default --token "$FIREBASE_TOKEN"
      - run:
          name: Firebase login
          command: firebase login --token "$FIREBASE_TOKEN"
      - run:
          name: Deploy to Firebase
          command: sudo firebase deploy --token "$FIREBASE_TOKEN"

